# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:lts
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo
    branches:
      only:
        - master
    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt install rsync

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - restore_cache:
          keys:
          - v1-last_dist-
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - run: mv $(pwd)/dist_cache old_dist_cache || mkdir old_dist_cache
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          command: |
            yarn run generate
          no_output_timeout: 20m
      - run: mv $(pwd)/dist dist_cache
      - save_cache:
          paths:
            - dist_cache
          key: v1-last_dist-{{ .BuildNum }}
      - deploy:
          command: |
            rsync -rvcm --compare-dest=../old_dist_cache/ dist_cache/ dist/
            node .circleci/deploy.js
